[{elvis, [
    {config, [
        #{dirs => ["src", "src/*", "scenarios"],
          filter => "*.erl",
          ruleset => erl_files,
          rules => [
              {elvis_style, invalid_dynamic_call,
               #{ignore => [amoc_user, {amoc_code_server, get_md5, 1}]}},
              {elvis_style, export_used_types, disable},
              {elvis_style, no_throw, #{ignore => [{amoc_config, get, 2}] }},
              {elvis_text_style, line_length, #{skip_comments => whole_line }},
              {elvis_style, no_block_expressions, disable}
          ]},
        #{dirs => ["test"],
          filter => "*.erl",
          ruleset => erl_files,
          rules => [
              {elvis_style, function_naming_convention,
               #{regex => "^[a-z]([a-z0-9]*_?)*$"}},
              {elvis_style, atom_naming_convention,
               #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$"}},
              {elvis_style, invalid_dynamic_call, #{ignore => [amoc_code_server_SUITE]}},
              {elvis_style, dont_repeat_yourself, #{min_complexity => 50}},
              {elvis_style, no_debug_call, disable},
              {elvis_style, no_block_expressions, #{ignore => [amoc_code_server_SUITE, controller_SUITE]}},
              {elvis_style, no_throw, disable},
              {elvis_style, no_import, disable}
          ]},
        #{dirs => ["."],
          filter => "rebar.config",
          ruleset => rebar_config}
    ]}
]}].
