{erl_opts, [
    debug_info,
    warn_missing_spec
]}.

{deps, [
    {telemetry, "1.3.0"}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "1.0.0"},
            {proper, "1.4.0"},
            {bbmustache, "1.12.2"},
            {wait_helper, "0.2.1"}
        ]}
    ]}
]}.

{relx, [
    {release, {amoc, git}, [amoc, runtime_tools]},
    {debug_info, keep},
    {include_src, true},
    {include_erts, true},
    {dev_mode, false},
    {extended_start_script, true},
    {sys_config, "rel/app.config"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.

{project_plugins, [
    {rebar3_hex, "~> 7.0"},
    {rebar3_ex_doc, "~> 0.2"},
    {rebar3_lint, "~> 4.0"},
    {rebar3_codecov, "~> 0.7"}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/esl/amoc">>},
    {extras, [
        {'README.md', #{title => <<"A Murder of Crows">>}},
        {'guides/scenario.md', #{title => <<"Developing a scenario">>}},
        {'guides/local-run.md', #{title => <<"Running locally">>}},
        {'guides/configuration.md', #{title => <<"Configuration">>}},
        {'guides/distributed.md', #{title => <<"Setting up a distributed environment">>}},
        {'guides/distributed-run.md', #{title => <<"Running a load test">>}},
        {'guides/telemetry.md', #{title => <<"Telemetry events">>}},
        {'guides/throttle.md', #{title => <<"Amoc throttle">>}},
        {'guides/coordinator.md', #{title => <<"Amoc coordinator">>}},
        {'guides/amoc_livebook.livemd', #{title => <<"Livebook tutorial">>}},
        {'LICENSE', #{title => <<"License">>}}
    ]},
    {assets, #{<<"guides/assets">> => <<"assets">>}},
    {main, <<"readme">>}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{elvis, [
    #{
        dirs => ["src/**"],
        filter => "*.erl",
        ruleset => erl_files
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
    }
]}.
