{erl_opts, [
    debug_info,
    warn_missing_spec
]}.

{deps, [
    {telemetry, "1.2.1"}
]}.

{profiles, [
    {test, [
        {plugins, [{rebar3_codecov, "0.6.0"}]},
        {deps, [
            {meck, "0.9.2"},
            {proper, "1.4.0"},
            {bbmustache, "1.12.2"},
            {wait_helper, "0.2.0"}
        ]}
    ]},
    {elvis, [{plugins, [{rebar3_lint, "3.0.1"}]}]}
]}.

{relx, [
    {release, {amoc, git}, [amoc, runtime_tools]},
    {debug_info, keep},
    {include_src, true},
    {include_erts, true},
    {dev_mode, false},
    {extended_start_script, true},
    {sys_config, "rel/app.config"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.

{project_plugins, [
    rebar3_hex,
    rebar3_ex_doc
]}.

{ex_doc, [
    {source_url, <<"https://github.com/esl/amoc">>},
    {extras, [
        {'README.md', #{title => <<"A Murder of Crows">>}},
        {'guides/scenario.md', #{title => <<"Developing a scenario">>}},
        {'guides/local-run.md', #{title => <<"Running locally">>}},
        {'guides/configuration.md', #{title => <<"Configuration">>}},
        {'guides/distributed.md', #{title => <<"Setting up a distributed environment">>}},
        {'guides/distributed-run.md', #{title => <<"Running a load test">>}},
        {'guides/telemetry.md', #{title => <<"Telemetry events">>}},
        {'guides/throttle.md', #{title => <<"Amoc throttle">>}},
        {'guides/coordinator.md', #{title => <<"Amoc coordinator">>}},
        {'guides/amoc_livebook.livemd', #{title => <<"Livebook tutorial">>}},
        {'LICENSE', #{title => <<"License">>}}
    ]},
    {assets, <<"guides/assets">>},
    {main, <<"readme">>}
]}.

{hex, [{doc, ex_doc}]}.
