    {erl_opts, [debug_info,
                warn_missing_spec,
                {i, ["include"]},
                {src_dirs, ["src", "scenarios"]},
                {parse_transform, lager_transform}]}.

    {eunit_compile_opts, [nowarn_missing_spec]}.

    {require_otp_vsn, "(^1[89])|^20"}.

    {deps, [
            {lager,             {git, "git://github.com/basho/lager.git", {tag, "3.2.1"}}},
            {jiffy,             {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.1"}}},
            {trails,            {git, "https://github.com/inaka/cowboy-trails.git", {tag, "0.1.1"}}},
            {cowboy_swagger,    {git, "http://github.com/inaka/cowboy-swagger.git", {tag, "1.0.3"}}},
            {escalus,           {git, "git://github.com/esl/escalus.git", {ref, "d7320f4"}}},
            {usec,              {git, "git://github.com/esl/usec.git", {branch, "master"}}},
            {exometer,          {git, "git://github.com/Feuerlabs/exometer.git", {ref, "7a7bd8d"}}},
            {lhttpc,            {git, "git://github.com/esl/lhttpc.git", {branch, "otp-17-compat"}}},
            {mochijson2,        {git, "git://github.com/bjnortier/mochijson2.git", {branch, "master"}}},
            {proper,            {git, "git://github.com/manopapad/proper.git", {branch, "master"}}},
            {recon,             {git, "https://github.com/ferd/recon.git", {tag, "2.2.1"}}},
            {cowboy,            {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
            {fusco,             {git, "https://github.com/esl/fusco.git"}}
           ]}.

    {relx, [
        {release, {amoc, "0.9.0"}, [amoc]},
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {extended_start_script, true},
        {sys_config, "priv/app.config"},
        {vm_args, "./priv/vm.args"},
        {overlay, [
            {mkdir, "scenarios_ebin"},
            {copy, "scenarios", "scenarios"}
        ]}
    ]}.
