{release,
 {amoc, "0.9"},
 [amoc,
  {base16, load},
  {bear, load},
  {edown, load},
  {escalus, load},
  {exml, load},
  {folsom, load},
  {fusco, load},
  {hamcrest, load},
  {inets, load},
  {meck, load},
  {mochijson2, load},
  {parse_trans, load},
  {recon, load},
  {sasl, load},
  {usec, load},
  {xmerl, load},
  {wsecli, load},
  {runtime_tools, load},
  {wsock, load}]
}.
{extended_start_script, true}.
{sys_config, "priv/app.config"}.
{include_src, false}.
{vm_args, "./priv/vm.args"}.
{overlay, [
           {mkdir, "ebin"},
           {copy, "scenarios", "{{output_dir}}/scenarios"}
    ]}.
