[
 {amoc, [{hosts, {{ hosts }} },
         {path, "{{ install_dir }}/amoc" },
         {interarrival, 75}]},
 {exometer, [
    {predefined, [
        {[erlang, system_info],
         {function, erlang, system_info, ['$dp'], value, [port_count, process_count]},
         []},
        {[erlang, memory],
          {function, erlang, memory, ['$dp'], value, [total, processes, processes_used, system, binary, ets]},
          []}
    ]},
    {reporters,
	    [{exometer_report_graphite, [
		    {prefix, "{{ graphite_prefix }}"},
		    {host, "{{ graphite_ip }}"},
		    {api_key, ""}
		    ]}]},
    {subscribers, [
	    {exometer_report_graphite, [amoc, users], [size], 10000, true},
	    {exometer_report_graphite, [erlang, system_info], [port_count, process_count], 10000, true},
	    {exometer_report_graphite, [erlang, memory], [total, processes, processes_used, system, binary, ets], 10000, true},
	    {select, {[{ {[amoc, times, '_'],'_','_'}, [], ['$_']}],
			     exometer_report_graphite, [mean, min, max, median, 95, 99, 999], 10000, true}},
	    {select, {[{ {[amoc, counters, '_'],'_','_'}, [], ['$_']}],
			     exometer_report_graphite, [one, count], 10000, true}}
	    ]}
]}].
