%% -*-erlang-*-

[
 {kernel, [
           {logger,
            [{handler, log_to_console, logger_std_h,
              #{formatter => {logger_formatter, #{template => [time," [",level,"] ",msg,"\n"]}}}
             },
             {handler, log_to_file, logger_std_h,
              #{config => #{file => "log/console.log"},
                formatter => {logger_formatter, #{template => [time," [",level,"] ",msg,"\n"]}}
               }}
             ]}]},
  {ssl, [{session_cb, amoc_always_null_ssl_session_cache}]}
].

