%% -*-erlang-*-

[
 {kernel, [
    {logger_level, info},
    {logger,
      [{handler, default, logger_std_h,
          #{config => #{file => "log/logger.log"},
            formatter => {amoc_lager_logger_formatter,
                             #{report_cb => fun amoc_lager_logger_formatter:report_cb/1}}}
            }
    ]}]},
 {lager, [
    {lager_use_logger, true}
 ]},
 {ssl, [{session_cb, amoc_always_null_ssl_session_cache}]}
].

