%% -*-erlang-*-

[
 {kernel, [
           {logger,
            [{handler, log_to_console, logger_std_h,
              #{formatter => {logger_formatter, #{template => [time," [",level,"] ",msg,"\n"]}}}
             },
             {handler, log_to_file, logger_std_h,
              #{config => #{type => {file, "log/erlang.log"}},
                formatter => {logger_formatter, #{template => [time," [",level,"] ",msg,"\n"]}}
               }}
             ]}]}
].

